.topnav {
  background-color: lightgrey;
  overflow: hidden;
}

.topnav a {
  float: none;
  display: inline-block;
  color: #000000;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  font-weight: bold;
}

.topnav a:hover {
  background-color: #e4bbc1;
  color: black;
}
.topnav a.active {
  background-color: #e4bbc1;
  color: #000000;
}
.header {
  width: 100%;
  height: auto;
}
body {
  text-align: center;
  background-color: #ffffff;
  font-family: Georgia, "Times New Roman", Times, serif;
}
h1 {
  color: rgb(65, 64, 64);
  font-family: "Open Sans", sans-serif;
  font-size: 55px;
  margin: auto;
}
a {
  color: #000000;
  text-decoration: none;
}
h3 {
  color: 000000;
}
#date {
  font-weight: bold;
}

button {
  background-color: #c43464;
  color: #ffffff;
  padding: 10px 10px;
  text-align: center;
  font-size: 15px;
  border-radius: 20px;
}

img {
  padding: 0;
}

* {
  box-sizing: border-box;
}

.article img {
  max-height: 300px;
}

.row {
  margin: 0 10px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.articles {
  float: left;
  width: 33.33%;
  padding: 10px 10px;
}

.article {
  padding: 10px 10px;
  text-align: center;
}

@media screen and (max-width: 600px) {
  .articles {
    width: 100%;
    display: block;
    padding: 10px 10px;
    margin-bottom: 20px;
  }
}

.gameContainer {
  padding: 30px 50px;
  display: block;
}
#form {
  display: none;
}

.guessSubmit {
  background-color: #c43464;
  color: #ffffff;
  padding: 5px 5px;
  text-align: center;
  font-size: 12px;
  border-radius: 20px;
}

#fikaDaysContainer {
  color: #b4b1b4;
}

.fikaName {
  color: #d45b83;
}
#todaysFikaDay {
  color: #8a4159;
}
#nextFikaDay {
  color: #8a4159;
  font-size: 18px;
}

#nextFikaDayHeader {
  font-size: 20px;
}
