body {
  text-align: center;
  background-color: #ffffff;
  font-family: Georgia, "Times New Roman", Times, serif;
}
h1 {
  color: rgb(65, 64, 64);
  font-family: "Open Sans", sans-serif;
  font-size: 55px;
  margin: auto;
}
a {
  color: #000000;
  text-decoration: none;
}
h3 {
  color: 000000;
}
#date {
  font-weight: bold;
}
.content {
  color: 000000;
  text-decoration: underline;
}

img {
  padding: 0;
}
