.topnav {
  background-color: lightgrey;
  overflow: hidden;
}

.topnav a {
  float: none;
  display: inline-block;
  color: #000000;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  font-weight: bold;
}

.topnav a:hover {
  background-color: #e4bbc1;
  color: black;
}
.topnav a.active {
  background-color: #e4bbc1;
  color: #000000;
}
.header {
  width: auto;
  height: 250px;
}
body {
  text-align: center;
  background-color: #ffffff;
  font-family: Georgia, "Times New Roman", Times, serif;
}
h1 {
  color: rgb(65, 64, 64);
  font-family: "Open Sans", sans-serif;
  font-size: 55px;
  margin: auto;
}
a {
  color: #000000;
  text-decoration: none;
}
h3 {
  color: 000000;
}
h2 {
  font-size: 20px;
}
#date {
  font-weight: bold;
}

button {
  background-color: #c43464;
  color: #ffffff;
  padding: 10px 10px;
  text-align: center;
  font-size: 15px;
  border-radius: 20px;
}

img {
  padding: 0;
}

* {
  box-sizing: border-box;
}

.article img {
  max-height: 300px;
}

.row {
  margin: 10px 10px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.articles {
  float: left;
  width: 25%;
  padding: 10px 10px;
}

.article {
  padding: 10px 10px;
  text-align: center;
}

#fikaDaysContainer {
  color: #b4b1b4;
}

.fikaName {
  color: #d45b83;
}
#todaysFikaDay {
  color: #8a4159;
  font-size: 24px;
}
#nextFikaDay {
  color: #8a4159;
  font-size: 20px;
}

#nextFikaDayHeader {
  font-size: 20px;
}

.omImage {
  width: 600px;
  height: auto;
  display: block;
  margin: auto;
}

.omBody {
  text-align: left;
  width: 600px;
  margin: auto;
}
.omCategories {
  font-size: 18px;
  color: #8a4159;
  font-weight: bold;
}

@media screen and (max-width: 600px) {
  .articles {
    width: 100%;
    padding: 10px 50px;
    margin-bottom: 10px;
  }
  .header {
    width: 300px;
    height: auto;
  }
  h1 {
    color: rgb(65, 64, 64);
    font-family: "Open Sans", sans-serif;
    font-size: 25px;
  }
  .topnav a {
    padding: 5px 5px;
    font-size: 11px;
  }
  #cake {
    width: 300px;
  }
}
